.due {
    color: green;
  }
  
  .nonRendu {
    color: red;
    background-color: yellow;
    border-color: 2px solid red;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .container{
    width: 50%;

    margin: 20% auto;
  }
  