<h1>Add Assignment Form</h1>
  <!-- <div
    *ngFor="let assignment of assignments; let i = index"
    [ngStyle]="{ color: !assignment.due ? 'red' : 'green' }"
  > -->
  <!-- <form ngForm #assignmentForm>
    <button mat-stroked-button color="primary" [disabled]="ajoutActive">
      Ajouter un devoir
    </button> 
  </form> -->
  <form
    ngForm
    #assignmentForm
    class="form"
    (click)="onSubmit(); assignmentForm.reset()">
    <!-- to reset the form we add the reset all the inputs are null after 
    #assignmentForm is the name of the form 
  it is better to use on submit on the form -->
    <mat-form-field>
      <input
        matInput
        placeholder="Nom de l'asignment"
        [(ngModel)]="nameAssignment"
        name="Nom"
        />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Date de due"
        [(ngModel)]="dueDate"
        name="Nom"
        />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-stroked-button color="primary">Ajouter un devoir</button>
  </form>
  <br />