
.actions{

}
.card-header{
    display: flex;
justify-content: space-between;
    /* margin: 5 auto; */
}
.editBtn{
    /* justify-self: end; */
}


.card-body{
    display: flex;
    flex-direction: column;

}

.container{
    width: 50%;
    margin: 20% auto;
}