<!-- <h1>Hello Angular</h1> -->
<!-- <h2>This app is developed by : {{ nameDev }}</h2> -->
<!--<button mat-button color="primary">Primary</button> -->
<!-- <a routerLink="/home" >home</a> -->
<!-- <app-assignments></app-assignments> -->

<!-- this line make sure that we are showing the component called by the router  -->

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <ul class="sideBarContent">
      <li class="projectTitle">
        <img src="../../assets/images/Angular.png" alt="Italian Trulli" />
        <h2>{{ titre }}</h2>
      </li>
      <li>
        <mat-slide-toggle color="primary" (click)="onLogin()"
          >login</mat-slide-toggle
        >
      </li>
      <li class="navSlides">
        <a routerLink="/home">Assignments List</a>
      </li>

      <li class="user">
        <img class="profile" src="../../assets/images/profile.png" alt="" />
        <h3>Oussama Alaoui Ismaili</h3>
      </li>

      <!-- <h3>current page: {{ page }}</h3>
    <h3>Number of docs: {{ totalDocs }}</h3>
    <h3>Number of pages: {{ totalPages }}</h3>   -->
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="container"> -->
  <!-- <mat-slide-toggle color="primary" (click)="onLogin()">login</mat-slide-toggle> -->

  <!-- <button mat-flat-button color="primary" (click)="initializeData()">Generate Assignment data</button> -->

  <!-- <button mat-flat-button color="warn" (click)="deleteAll()">Delete all Assignments</button> -->
<!-- </div> -->
