/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red-snackbar{
  color: white;
  background-color: #dd2131;
  font-weight: 500;
}
.green-snackbar{
     color: white;
  background-color: #1bca75;
  font-weight: 500;
}
.red-snackbar button{
     color: white;

  font-weight: 500;
}.green-snackbar button{
     color: white;

  font-weight: 500;
}